@import 'bootstrap/scss/functions';
@import 'helpers/variables';
// @import 'helpers/variables-dark';
// @import 'helpers/custom.scss';

@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Noto Serif TC';
    src: url('/assets/fonts/NotoSerifTC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Serif TC', serif;
}

.HighlightYellow{
    background-color: $HighlightYellow;
}
.HighlightRed{
    background-color: $HighlightRed;
}
// .text-primary_700{
//     color: $primary_700 !important;
// }
.text-gray-800{
    color: $gray-800;
}
.mb-8px{
    margin-bottom: 8px;
}
.mb-12px{
    margin-bottom: 12px;
}
.py-40{
    padding: 40px 0;
}
.mb-12{
    margin-bottom: 12px;
}
.px-12{
    padding-bottom: 12px;
    padding-top: 12px;
}
.mb-60{
    margin-bottom: 60px;
}
.position-relative {
    display: inline-block;
    position: relative;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #446E8B;
    mix-blend-mode: multiply;
    background: linear-gradient(0deg, #446E8B, #446E8B);
    opacity: 0.8;
    filter: contrast(200%);
}
.filtered-img {
    // filter: sepia(50%) hue-rotate(160deg) saturate(120%);
    // background: linear-gradient(0deg, #446E8B, #446E8B);
    // background-blend-mode: color;
    // filter: drop-shadow(0 0 0.75rem #446E8B);
    filter: contrast(150%);
    background-color: #446E8B;

}
.filterGray-img {
    filter: grayscale(100%);
    filter: gray;

}
.special-title {
    &::before,
    &::after {
        content: "—";
        margin: 0 0.5rem;
    }
}
.text-primary-700{
    color: #265B7E;
}
.footer {
  margin-top: auto; /* footer 貼齊底部 */
}
@media (max-width: 768px) {
    .container {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ps-4.mobile-ps-0{
        padding-left: 0 !important;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.bannerText{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    padding: 70px 0 0 0;
    color: #fff;
    text-align: left;
}

//pagination
// .page-link.disabled, .disabled > .page-link {
//     color: var(--bs-pagination-disabled-color);
//     pointer-events: none;
//     background-color: var(--bs-pagination-disabled-bg);
//     border-color: var(--bs-pagination-disabled-border-color);
// }

// timeline
ul.timeline {
	position: relative;
	list-style-type: none;
	padding-left: 180px;
    &:before {
        position: absolute;
        display: block;
        left: 158px;
        width: 4px;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(to top, #63A7CD, #F3F8FC);
        content: ' ';
    }
    .event {
        position: relative;
        padding: 16px 16px 16px 16px;
        margin-bottom: 44px;
        &:before {
            display: block;
            position: absolute;
            top: 44px;
            left: -30px;
            width: 20px;
            height: 1px;
            border: 1px solid #07b;
            background-color: white;
            content: ' ';
        }
    }
    h3 {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .time {
        position: absolute;
        display: block;
        width: 120px;
        top: 27px;
        left: -179px;
        // font-size: 0.9em;
        text-align: right;
        font-weight: 600;
        text-transform: uppercase;
        > .glyphicon-time {
            top: 20px;
        }
    }
    // .left-arrow{
    //     &:before {
    //         position: absolute;
    //         top: 30px;
    //         left: -15px;
    //         display: inline-block;
    //         border-top: 15px solid transparent;
    //         border-right: 15px solid #ddd;
    //         border-left: 0 solid #ddd;
    //         border-bottom: 15px solid transparent;
    //         content: ' ';
    //     }
    //     &:after {
    //         position: absolute;
    //         top: 30px;
    //         left: -14px;
    //         display: inline-block;
    //         border-top: 15px solid transparent;
    //         border-right: 15px solid #fff;
    //         border-left: 0 solid #fff;
    //         border-bottom: 15px solid transparent;
    //         content: ' ';
    //     }
    // }    
}
    .input-group {
        display: flex;
        width: 82%;
        max-width: 600px; 
        margin: 0 auto; 
    }

    .search {
        border-radius: 4px 4px 4px 4px; 
        height: 100%; 
        border: 2px solid #C9DFEE;
    }
    .navbar-nav .nav-item .nav-link {
        color: #3F8CB8;  
        transition: color 0.3s ease; 

        &:hover {
            color: #265B7E;  
        }

        &.active {
            color: #265B7E;  
            position: relative; 

            &::after {
            content: ''; 
            position: absolute;
            bottom: 0; 
            left: 50%; 
            width: 50%; 
            height: 2px; 
            background-color: #265B7E; 
            transform: translateX(-50%); 
            }
        }
    }


.square-img {
    width: 300px;
    height: 300px;
    object-fit: cover;  /* 保持圖片比例，避免變形 */
}
.rectangleImg {
    width: 196px;
    height: 117px;
    object-fit: cover;  /* 保持圖片比例，避免變形 */
}

/* 圓形圖片 */
.circle-img {
    width: 150px;  /* 設置固定的寬度 */
    height: 150px;  /* 設置固定的高度 */
    object-fit: cover;  /* 保持圖片比例，避免變形 */
    border-radius: 50%;  /* 使圖片變圓形 */
}
